:root {
  --bg: #f4f4f4;
  --card: #fff;
  --text: #222;
  --accent: #6d28d9;
  --gradient-bg: linear-gradient(
    270deg,
    #d5bbff,
    #cbe5f1,
    #fda5f6
  );
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: var(--gradient-bg);
  background-size: 600% 600%;
  animation: gradientMove 12s ease infinite;
  z-index: -2;
}


@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: var(--bg);
  color: var(--text);
  overflow-x: hidden;
}
body.dark {
  --gradient-bg: linear-gradient(
    270deg,
    #020617,
    #1e293b,
    #312e81
  );
  
  --card: #0f1724;
  --text: #e5e7eb;
  --accent: #8b5cf6;
}

body.dark h1 {
  color: var(--text);
}



canvas {
  position: fixed;
  inset: 0;
  z-index: -1;
}

header {
  text-align: center;
  padding: 1rem;
}

button {
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  background: var(--accent);
  color: white;
  cursor: pointer;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  padding: 2rem;
}
 


.card {
  background: var(--card);
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
  padding: 1rem;
  position: relative;
  transition: transform 0.4s;
  animation: fadeUp 1s ease;
}

.card:hover {
  transform: translateY(-12px);
  box-shadow: 0 0 30px rgba(109,40,217,0.6);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.6s ease;
}
 
.price {
  font-weight: bold;
  color: var(--accent);
}

.heart {
  position: absolute;
  top: 12px;
  right: 14px;
  font-size: 22px;
  cursor: pointer;
  color: #aaa;
  transition: 0.3s;
}

.heart.liked {
  color: red;
  transform: scale(1.2);
  animation: pop 0.4s ease;
}

@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.4); }
  100% { transform: scale(1.2); }
}

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}
